input {
  file {
    type => "nginx_access"
    path => "/tmp/app/logs/nginx/*.access.log"
    start_position => beginning
  }
  file {
    type => "symfony_dev"
    path => "/tmp/app/logs/symfony/MusicLabelApp/dev-*.log"
    start_position => beginning
  }
  file {
    type => "symfony_prod"
    path => "/tmp/app/logs/symfony/MusicLabelApp/prod-*.log"
    start_position => beginning
  }
}

filter {
  if [type] == "nginx_access" {
    grok {
      patterns_dir => ["/etc/logstash/conf.d/patterns"]
      match => { "message" => "%{NGINXACCESS}"}
    }
  }
  else if [type] == "symfony_prod" {
    grok {
      patterns_dir => ["/etc/logstash/conf.d/patterns"]
      match => { "message" => "%{SYMFONY}"}
      add_field => [ "event.dataset", "app.prod" ]
    }
  }
  else if [type] == "symfony_dev" {
    grok {
      patterns_dir => ["/etc/logstash/conf.d/patterns"]
      match => { "message" => "%{SYMFONY}"}
      add_field => [ "event.dataset", "app.dev" ]
    }
  }
}

output {
  elasticsearch {
    hosts => "elasticsearch:9200"
  }
}