# IDE
!.idea/runConfigurationsShared/

# Symfony MusicLabelApp
apps/MusicLabelApp/api/.env.local
apps/MusicLabelApp/api/.env.local.php
apps/MusicLabelApp/api/.env.*.local
apps/MusicLabelApp/api/config/secrets/prod/prod.decrypt.private.php
apps/MusicLabelApp/api/config/secrets/preprod/preprod.decrypt.private.php
apps/MusicLabelApp/api/public/bundles/
apps/MusicLabelApp/api/var/

# project
build/
var/
vendor/
.phpunit.result.cache
phpunit.xml

# docker
.env*
!.env.dist
supervisord.pid

# other
!.gitkeep