version: "3.8"

#
# local-dev env docker-compose file
#
# This file override some prod file values, to use when development (xdebug, disable opcache.preload, etc.)

services:

    php:
        # Uncomment and configure as needed when testing/debugging
#        environment:
#            XDEBUG_CONFIG: xdebug.start_with_request=yes
#            PHP_IDE_CONFIG: serverName=docker
        volumes:
            - ./docker/php/usr/local/etc/php/conf.d/symfony.dev.ini:/usr/local/etc/php/conf.d/symfony.ini
            - ./docker/php/usr/local/etc/php/conf.d/xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini
            #- ./var/log/xdebug/xdebug.log:/tmp/xdebug.log