<p>
    <a href="{{ path('web_artist_update', {'id': artist.id}) }}"><i class="far fa-edit"></i></a>
    <a href="{{ path('web_album_delete_artist', {'artistId': artist.id, 'albumId': album.id}) }}"><i class="far fa-trash-alt"></i></a>
    {{ artist.name|e }}, {{ artist.specialisation|e }}.
</p>