{% extends "web/layout.html.twig" %}

{% block title %}Albums{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Albums</h1>
            <p class="lead">This is the page for Albums management. You can also manage related Artist for each
                Album.</p>

        </div>
    </div>

    <br/><br/>

    <div class="row">
        <div class="col-lg-12 text-right">
            <div>
                <a class="btn btn-primary" role="button" href=" {{ path('web_album_add') }}">New album</a>
            </div>
        </div>
    </div>

    <br/><br/>

    <div class="row">
        <div class="col-lg-12">
            <div id="accordion">
                {% for album in albums %}
                    {% include "web/album/album.html.twig" with {album: album} %}
                {% endfor %}
            </div>
        </div>
    </div>

    {# Modal #}
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>

                    </button>
                    <h4 class="modal-title" id="myModalLabel">Modal title</h4>

                </div>
                <div class="modal-body">
                    <div role="tabpanel">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active"><a href="#uploadTab" aria-controls="uploadTab" role="tab" data-toggle="tab">Upload</a>

                            </li>
                            <li role="presentation"><a href="#browseTab" aria-controls="browseTab" role="tab" data-toggle="tab">Browse</a>

                            </li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="uploadTab">upload Tab</div>
                            <div role="tabpanel" class="tab-pane" id="browseTab">browseTab</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary save">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


