{% extends "web/layout.html.twig" %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}
    Edit Album
{% endblock %}

{% block body %}
    {# Page Content #}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="mt-5">Update album</h2>
            </div>
            <div class="col-lg-12">
                {{ form_start(form) }}
                {{ form_widget(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}