###> symfony/framework-bundle ###
.env.local
.env.local.php
.env.*.local
config/secrets/prod/prod.decrypt.private.php
config/secrets/preprod/preprod.decrypt.private.php
public/bundles/
var/
vendor/
###< symfony/framework-bundle ###
