<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>{% block title %}{% endblock %}</title>

    <link href="{{ asset('assets/css/base.css') }}" rel="stylesheet">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{# Page Content #}
{% block body %}{% endblock %}
{% block menu %}{% endblock %}
<script src="{{ asset('assets/js/popper.js') }}"></script>
<script src="{{ asset('assets/js/jquery.js') }}"></script>
<script src="{{ asset('assets/js/base.js') }}"></script>
{% block javascripts %}{% endblock %}
</body>
</html>