[mysqld]
default-authentication-plugin=mysql_native_password

#
# log config
#

log_error = /var/log/mysql/mysql_error.log

general_log = 1
general_log_file = /var/log/mysql/mysql.log

log_queries_not_using_indexes = 1

slow_query_log = on
slow_query_log_file = /var/log/mysql/slow-mysql-query.log
long_query_time = 5
