{% extends "web/layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1 class="mt-5">Test project</h1>
            <p class="lead">Small web app for knowledge testing in a recruitment process.</p>
        </div>
    </div>

    <br />

    <h2>Some features</h2>
    <div class="row">
        <div class="col-lg-12">
            <ol>
               <li>Docker</li>
                <li>Symfony 5</li>
                <li>DDD tactical guidelines</li>
                <li>Hexagonal Architecture</li>
                <li>SOLID</li>
                <li>Albums parts with CQRS pattern (command and query bus)</li>
                <li>No anemic models pattern</li>
                <li>Webpack, Yarn, Babel, Bootstrap 4 and some other frontend tools</li>
            </ol>
        </div>
    </div>

        <br />

    <h2>@todo</h2>
    <div class="row">
        <div class="col-lg-12">
            <p>This a non finished proyect and always in evolution.</p>
            <p>Some interesting features i wolud like to develop in the future:</p>
            <ol>
                <li>Monolog logs</li>
                <li>Translations</li>
                <li>Event Sourcing, in a new functionality about Songs in albums for example</li>
                <li>UI controllers agnostic about framework</li>
                <li>Custom exceptions</li>
                <li>Forms and data input validation</li>
                <li>Frontend: combine and minify scripts and styles</li>
                <li>Unit and functional tests</li>
                <li>Documentation</li>
            </ol>
        </div>
    </div>
{% endblock %}


